@font-face{
	font-family:Gothic;
	src:url(../fonts/GOTHIC.TTF);
	font-weight: bold;
}
@font-face{
	font-family: Gothic-Bold;
	src:url(../fonts/GOTHICB.TTF);
	font-weight: bold;
}
@font-face{
	font-family: Avenir;
	src:url(../fonts/Avenir.otf);
	font-weight: bold;
}
@font-face{
	font-family: Museo-Sans;
	src:url(../fonts/MuseoSans500.otf);
	font-weight: bold;
}

[class*="col-"]{
	float: left;
	padding: 15px;
	border:1px solid 0,50,100,0.5);
}
.row::after{
	content:"";
	clear: both;
	display: table;
}
.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.66%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.66%
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33%;
}
.col-11{
	width: 91.66%;
}
.col-12{
	width: 100%;
}

body{
	margin: 0;
	padding: 0;
	border: solid 5px rgba(0,50,100, 1);
	box-sizing: border-box;
	text-align: center;
	cursor: crosshair;
}

.body{
	background-color: #c8c8c8;
	color: #003264;
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: Gothic-Bold;
}

.avatar{
	border: solid thin transparent;
	box-shadow: 0px -30px 20px rgba(0,50,100,0.5);
	padding: 40px 0;
}

.avatar-image{
	width: 200px;
	display: inline-block;
}

.avatar-image img{
	width: 100%;
	border: solid 4px rgba(0,50,100, 0.5);
	-moz-transition: border 2s, transform 3s, border-radius 1s;
	border-radius: none;
}
.avatar-image img::title{
	background-color: #527;
	color: #fff;
}
.avatar-image img:hover{
	border: solid 4px rgba(0,50,100, 1);
	-moz-transform:scale(1.05);
	border-radius:50%;
}
.avatar-details{
	margin: 0 auto;
}
.avatar-details span{
	display: block;
	margin: 5px;
}
#name{
	font-family: Gothic-Bold;
	font-size: 24px;
	line-height: 24px;
	margin: 8px;
	color: rgba(0,50,100,0.8);
	-moz-transition: color 1s;
}
#name:hover{
	color: rgba(0,50,100,1);
	cursor: pointer;
}
.link{
	text-decoration: none;
	color: #f3f3f3;
}
.links {
	padding: 40px 0;
}
.links ul{
	list-style: none;
	padding: 0;
	text-align: center;
	
}
.links ul li{
	background-color: rgba(0,0,0,0.2);
	-moz-transition: background-color 2s;
	text-align: left;
	margin: 0 auto;
	display: inline-block;
	margin: 10px;
	padding: 0 15px;
}
.links ul li:hover{
	background-color: rgba(0,0,0,0.5);
}
.foot{
	box-sizing: border-box;
	color: #f3f3f3;
	background-color: #003264;
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 100%;
}
.foot span{
	display: block;
	margin: 0;
	margin-top: 20px;
	padding: 10px;
	font-family: Museo-Sans
}

