/*Author: Joshua O'Ben
 Date: 08/01/2018
 Email: joshua@capeworx.com
 */

 @font-face{
	font-family:Gothic;
	src:url(../fonts/GOTHIC.TTF);
	font-weight: bold;
}
@font-face{
	font-family: Gothic-Bold;
	src:url(../fonts/GOTHICB.TTF);
	font-weight: bold;
}
@font-face{
	font-family: Avenir;
	src:url(../fonts/Avenir.otf);
	font-weight: bold;
}
@font-face{
	font-family: Museo-Sans;
	src:url(../fonts/MuseoSans500.otf);
	font-weight: bold;
}

[class*="col-"]{
	float: left;
	padding: 15px;
	border:1px solid 0,50,100,0.5);
	box-sizing: border-box; 
}
.row::after{
	content:"";
	clear: both;
	display: table;
	margin: 0;
}
.wrapper{
	margin: 0 auto;
	display: inline-block;
	background-color: transparent;
}
.col-1{
	width: 8.3%; /* This was altered to suit the a purpose in this project the actual value is 8.3*/
}
.col-2{
	width: 16.66%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.66%
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33%;
}
.col-11{
	width: 91.66%;
}
.col-12{
	width: 100%;
}
*{
	background-color: #c4c4c4;
}
h3, h4	{
	background-color: transparent;
}
body{
	margin: 0;
	padding: 0;
	border: solid 7px rgba(0,50,100, 1);
	box-sizing: border-box;
	text-align: center;
	cursor: crosshair;
}

.body{
	background-color: #c8c8c8;
	color: #003264;
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: Gothic-Bold;
}
.space {
	background-color: transparent;
}
.avatar{
	border: solid thin transparent;
	box-shadow: 0px -30px 20px rgba(0,50,100,0.5);
	padding: 70px 0 20px 0;
	background-color: transparent;
	margin: 0;
}

.avatar-image{
	width: 200px;
	display: inline-block;
	background-color: transparent;
}

.avatar-image img{
	width: 100%;
	border: solid 4px rgba(0,50,100, 0.5);
	-moz-transition: border 2s, transform 3s, border-radius 1s;
	border-radius: none;
	background-color: transparent;

}
.avatar-image img::title{
	background-color: #527;
	color: #fff;
}
.avatar-image img:hover{
	border: solid 4px rgba(0,50,100, 1);
	-moz-transform:scale(1.05);
	border-radius:50%;
}
.avatar-details{
	margin: 0 auto;
	background-color: transparent;
}
.avatar-details span{
	display: block;
	margin: 5px;
	background-color: transparent;
}
#name{
	font-family: Gothic-Bold;
	font-size: 24px;
	line-height: 24px;
	margin: 8px;
	color: rgba(0,50,100,0.8);
	-moz-transition: color 1s;
	background-color: transparent;
}
#name:hover{
	color: rgba(0,50,100,1);
	cursor: pointer;
}
.link{
	text-decoration: none;
	color: #f3f3f3;
	-moz-transition: color 1s;
	background-color: transparent;
}
.links {
	padding: 100px;
	background-color: transparent;
}
.links ul{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: transparent;
	
}
.links ul li{
	background-color: rgba(0,0,0, 0.2);
	-moz-transition: background-color 2s, border-radius 2s, border 2s;
	text-align: left;
	margin: 0 auto;
	display: inline-block;
	margin: 10px;
	padding: 0 15px;
	box-sizing: border-box;
	border: solid 3px transparent;
}

.links ul li:hover{
	box-sizing: border-box;
	background-color: transparent;
	border-radius: 50px;
	border: solid 3px #003264;
}
.link:hover{
	color: rgba(0,50,100,0.9);
}
.contact-link{
	background-color: transparent;
}
.contact{
	background-color: #003264;
	color: #f3f3f3;
	padding: 10px 20px;
	margin: 10px;
	border: solid 3px transparent;
	-moz-transition:border 2s, color 2s, border-radius 2s,background-color 1s;
}
.contact:hover{
	background-color: transparent;
	color: #003264;
	border: solid 3px #003264;
	border-radius: 50px;
}

.foot{
	box-sizing: border-box;
	color: #f3f3f3;
	background-color: #003264;
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 100%;
}
.foot span{
	display: block;
	margin: 0;
	margin-top: 20px;
	padding: 10px;
	font-family: Museo-Sans;
	background-color: transparent;
}
.foot img{
	height: 24px;
	background-color: transparent;
	margin: 0;
	padding: 0;
	margin-bottom: -6px;
}

@media only screen and (max-width: 1100px){

.avatar{
	padding-top: 60px;
	padding-bottom: 10px;
}
.links{
	padding: 100px 60px;
}
.links ul li{
	
	margin: 8px;
	padding: 0 8px;
	
}

}
@media only screen and (max-width: 920px){

.links{
	padding: 100px 40px;
}

}
@media only screen and (max-width: 860px){

.links{
	padding: 100px 20px;
}

}
@media only screen and (max-width: 800px){

.avatar{
	width: 100%;
	padding-top: 60px;
	padding-bottom: 40px;
	box-shadow: 0px 5px 20px rgba(0,50,100,0.5);
}
.avatar-image{
	width: 200px;
	display: inline-block;
	float: left;
	clear: both;
}

.avatar-image img{
	width: 100%;
	border: solid 4px rgba(0,50,100, 0.5);
	-moz-transition: border 2s, transform 3s, border-radius 1s;
	border-radius: none;
	background-color: transparent;

}
.avatar-details{
	display: inline-block;
	margin: 0 auto;
	background-color: transparent;
	text-align: left;
	margin-left: 40px;
	margin-top: 30px;
	clear: both;
}
.avatar-details span{
	display: block;
	margin: 5px;
	background-color: transparent;
}
.links{
	width: 100%;
	padding: 60px 15px;
}

}
@media only screen and (max-width: 780px){

.links{
	width: 100%;
	padding: 60px 60px;
}

}
@media only screen and (max-width: 620px){

.links{
	width: 100%;
	padding: 60px 20px;
}

}
@media only screen and (max-width: 535px){

.links{
	width: 100%;
	padding: 60px 40px;
}

}
@media only screen and (max-width: 515px){

.avatar{
	padding-top: 40px;
	padding-bottom: 20px;
	box-shadow: 0px 5px 20px rgba(0,50,100,0.5);
}
.avatar-image{
	width: 180px;
	text-align: center;
	float: none;
}

.avatar-details{
	display: block;
	text-align: center;
	margin-left: 0px;
	margin-top: 10px;
	clear: both;
}
.avatar-details span{
	display: block;
	margin: 5px;
	background-color: transparent;
}

}

@media only screen and (max-width: 480px){

.avatar-image img{
	border: solid 4px rgba(0,50,100, 1);
	-moz-transform:scale(1.05);
	border-radius:50%;
}

}




